[run]
branch = True
source = pymongo,bson,gridfs

[paths]
source=
    .
    /data/mci/*/src

[report]
exclude_lines =
    if (.*and +)*_use_c( and.*)*:
    def has_c
    def get_version_string
    ^except AttributeError:
    except ImportError:
    raise NotImplementedError
    return NotImplemented
    _use_c = True
    if __name__ == '__main__':
partial_branches =
    if (.*and +)*not _use_c( and.*)*:

[html]
directory = htmlcov
