*~
*#*
.DS*
*.cm
*.class
*.pyc
*.pyd
build/
doc/_build/
dist/
tools/settings.py
drivers-evergreen-tools
pymongo.egg-info/
*.so
*.egg*
.tox
mongocryptd.pid
.idea/
.vscode/
.nova/
venv/
secrets-export.sh
libmongocrypt.tar.gz
libmongocrypt/
libmongocrypt_git/

# Lambda temp files
test/lambda/.aws-sam
test/lambda/env.json
test/lambda/mongodb/pymongo/*
test/lambda/mongodb/gridfs/*
test/lambda/mongodb/bson/*

# test results and logs
xunit-results/
server.log
