
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: WHEEL
    exclude_types: [json]
  - id: forbid-new-submodules
  - id: trailing-whitespace
    exclude: .patch
    exclude_types: [json]
    additional_dependencies: [shellcheck-py]

- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
    files: \.py$
    args: [--line-length=100]

- repo: https://github.com/PyCQA/isort
  rev: 5.7.0
  hooks:
  - id: isort
    files: \.py$
    args: [--profile=black]
