include README.rst
include LICENSE
include THIRD-PARTY-NOTICES
include *.ini
exclude .coveragerc
exclude .flake8
exclude .git-blame-ignore-revs
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude CONTRIBUTING.rst
exclude RELEASE.rst
recursive-include doc *.rst
recursive-include doc *.py
recursive-include doc *.conf
recursive-include doc *.css
recursive-include doc *.js
recursive-include doc *.png
include doc/Makefile
include doc/_templates/layout.html
include doc/docs-requirements.txt
include doc/make.bat
include doc/static/periodic-executor-refs.dot
recursive-include tools *.py
include tools/README.rst
include green_framework_test.py
recursive-include test *.pem
recursive-include test *.py
recursive-include test *.json
recursive-include bson *.h
prune test/mod_wsgi_test
prune test/lambda
prune .evergreen
