include README.rst
include LICENSE
include ez_setup.py
recursive-include doc *.rst
recursive-include doc *.py
recursive-include tools *.py
include tools/README.rst
recursive-include test *.pem
recursive-include test *.py
recursive-include bson *.h
