cffi>=1.12.0,<2
cryptography>=2
# boto3 is required by drivers-evergreen-tools/.evergreen/csfle/set-temp-creds.sh
boto3<2
# Needed on Windows due to PYTHON-2798.
certifi; platform_system == 'Windows'
