Source: pymongo
Section: python
Priority: optional
Maintainer: Fajran Iman Rusadi <fajran@ubuntu.com>
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.43), python-central (>= 0.5.8), python-all-dev (>= 2.3.5-11), python-epydoc, python-setuptools (>= 0.6b3-1), python-celementtree | python-elementtree
Standards-Version: 3.7.2

Package: python-mongodb
Architecture: any
Depends: ${python:Depends}
Provides: ${python:Provides}
Suggests: python-mongodb-doc, python-celementtree | python-elementtree
Description: Python driver for MongoDB
 The PyMongo distribution contains tools for interacting with the Mongo
 database from Python. The pymongo package is a native Python driver for
 the Mongo database. The gridfs package is a gridfs implementation on top
 of pymongo.

Package: python-mongodb-doc
Section: doc
Architecture: all
Description: Documentation for PyMongo
 The PyMongo distribution contains tools for interacting with the Mongo
 database from Python. The pymongo package is a native Python driver for
 the Mongo database. The gridfs package is a gridfs implementation on top
 of pymongo.
 .
 This package contains documentation for developers using PyMongo.

